<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Merger</title>
    <script type="text/javascript" src="../public/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../public/thirty_party/html5sortable-0.11.0/html5sortable.min.js"></script>


    <script type="text/javascript" src="../public/js/index.js"></script>

    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/thirty_party/html5sortable-0.11.0/basscss.css">

</head>
<script>

</script>
<body>
<div>
    <button id="btn-open">選擇檔案</button>

    <button id="btn-merge">合併!!!</button>
</div>

<div>
    <ul id="selected-file-list">

    </ul>
</div>


</body>
</html>