<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Merger</title>
    <script type="text/javascript" src="../public/js/jquery-3.6.0.min.js"></script>


    <script type="text/javascript" src="../public/js/index.js"></script>

    <link rel="stylesheet" href="../public/css/index.css">

</head>
<script>

</script>
<body>
<button id="btn-open">選擇檔案</button>
<input id="selected-file" style="display:none"/>
<button id="btn-merge">合併!!!</button>
<ul id="selected-file-list">

</ul>

</body>
</html>